*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1{
    text-align: center;
    padding-top: 0px;
    padding-bottom: 1rem;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.photos{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 1rem;
}
.photos img{
    width: 350px;
    height: 350px;
    border-radius: 0.5rem;
}
@media(max-width:1400px){
    .photos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-content: center;
    }
}
@media(max-width:1000px){
    .photos{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
}
@media(max-width:500px){
    .photos{
        grid-template-columns: 1fr;
    }
}

